{% extends "base.html" %}

{% block content %}
    {% if album %}
        <!-- If we are viewing a valid assessment, display the information -->
        <h3>Viewing album #{{ album.id }}</h3>
        <p>Artist: {{ album.artist.name }}</p>
        <p>Album: {{ album.name }}</p>
        <p>Rating: {{ album.rating }}</p>

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Reviewer</th>
                    <th>Rating</th>
                    <th>Likes</th>
                </tr>
            </thead>
            <!-- Loop over ratings and create a clickable row leading to the specific view page -->

        {% for rating in album.ratings %}
            <tr class="clickable" onclick="window.location='/rating?id={{rating.id}}'" id="{{ rating.id }}">
                <td>{{rating.user.username}}</td>
                <td>{{rating.rating}}</td>
                <td>{{rating.likes}}</td>
            </tr>
        {% endfor %}
        </table>
        <form action="" method="POST">
            <input class = "btn btn-primary mb-2" type="submit" value="Add review" name="rating">
        </form>

    {% else %}
        <!-- Show an error message if an invalid assessment is being viewed -->
        <h1>Album not found!</h1>
    {% endif %}
{% endblock %}