{% extends "base.html" %}
{% block content %}
    <!-- Welcome page and usage notes -->
    <h1>TrackTracker</h1>
    <p>Welcome to TrackTracker!</p>
    <p>From here, you will be able to keep track of your favourite albums, and contribute and view ratings and reviews. Developed using Flask, as a part of the second coursework for the COMP2011 Web Application Development module at the University of Leeds.</p>
    <hr>
    <h2>Usage</h2>
    <p>Currently, we have three main lists on the site:</p>
    <ul>
        <li>Highest rated albums</li>
        <li>Most liked reviews</li>
        <li>Complete album list</li>
    </ul>
    <p>Once you have registered an account and are logged in, you will be able to rate and review albums by navigating to the album list, selecting an album and clicking the add review button.</p>
    <p><b>Enjoy! :)</b></p>
{% endblock %}